
html{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.qr-card {
    max-width: 320px;
    width: 100%;
    max-height: 499px;
    height: 100%;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.04rem;
    border-radius: 20px;
    padding-bottom: 2.1rem;
}

img {
    width: 100%;
    border-radius: 10px;
}

/* // <weight>: Use a value from 100 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */

h3, p {
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-size: 22px;
   font-style: normal;
   font-weight: bold;
   width: 100%;
   margin: 0px;
   text-align: center;
}

h3 {
   font-size: 22px;
   font-weight: bold;
   color: #1F314F;
}

p {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.2px;
    color: #68778D;
}

.qr-text-section {
    padding: 0 1rem 0 1rem;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: auto;
}

footer {
    text-align: center;
}